.header{
	height: 78px;
	margin: 0px 175px;
	width: 1010px;
}
.logo{
	width: 190px;
	margin-top: 20px;
}
.search{
	float: left;
	margin-top: 20px;
	margin-left: 3px;
	width: 298px;
	border: 1px solid;
}
.search_input{
	margin-left: 15px;
	height: 32px;
	width: 252px;
	border: hidden;
	outline: none;
}
.shimg{
	width: 31px;
	height: 34px;
	background: url(../img/search.png) -33px -46px no-repeat;
}
.topNav_fr{
	margin-left: 60px;
}
.topNav_fr ul{
	width: 278px;
	height: 19px;
	float: left;
	border-right: 1px solid gainsboro;
	margin-top: 31px;
	margin-left: 30px;
	color: black;
}
.topNav_fr li{
	float: left;
	margin-left: 30px;
	font-size: 13px;
}
.ul a{
	color: #777;
	font-weight: 500;
}
.ul>li>a:hover{
	color: #009BF5;
}
.login_area{
	margin-left: 18px;
	margin-top: 4px;
}
.login_area a{
	margin-top: 20px;
	float: left;
	margin-left: 10px;
	border: 1px solid gainsboro;
	height: 24px;
	width: 39px;
	font-size: 14px;
	font-weight: 400;
	padding-top: 5px;
	padding-left: 10px;
}
.login_btn{
	
	background-color: cornflowerblue;
	color: #fff;
	
}
.regin_btn{
	color: black;
}
/*²Ëµ¥µ¼º½À¸*/
.navWrap{
	height: 55px;
	width: 100%px;
	background-color: #2c323b;
}
.nav{
	width: 1000px;
	margin:auto;
}
.homeNav{
	width: 437px;
	height: 55px;
	background-color: #2c323b;
	text-align: center;
	line-height: 55px;
}
.homeNav>li{
	float: left;
	transition: background-color;
}
.homeNav>li:hover{
	background-color: #0c8ed9;
}
.homeNav li:first-child{
	width: 92px;
	background-color: #0c8ed9;
}
.homeNav li:nth-child(2){
	width: 92px;
}
.homeNav li:nth-child(3){
	width: 140px;
}
.homeNav li:nth-child(4){
	width: 113px;
	height:55px;
}
.bgI{
	
	height: 10px;
	width: 20px;
	background: url(../img/sprite.png) 0px -70px no-repeat;
	top: 23px;
	right: 16px;
	position: relative;
	transition: transform;
}
.homeNav a{
	color: #fff;
	font-weight: lighter;
}
.more>a{
	position: relative;
	left: 5px;
}
.more:hover .bgI{
	transform: rotate(180deg);
}
.more:hover .secondMenu{
	display:block;
}
.secondMenu{
	text-align: center;
	display: none;
}
.navWrap .secondMenu>li{
	width:113px;
	line-height: 36px;
	background-color: #2c323b;
}
.secondMenu>li:hover{
	background-color: black;
}
.secondMenu>li>a{
	color: #fff;
}
.subNav{
	width: 370px;
	margin-top: 16px;
	height: 35px;
	text-align: center;
}
.subNav>li{
	float: left;
	color: lavender;
	margin-left: 30px;
}
.subNav li:first-child{
	width: 72px;
	height: 35px;
	
}
.subNav li:nth-child(2){
	width: 72.44px;
	height: 35px;
}
.subNav li:nth-child(3){
	width: 59px;
	height: 35px;
}
.subNav li:nth-child(4){
	width: 46px;
	height: 35px;
}
.subNav>li>a{
	color: #fff;
	font-size: 13px;
	font-weight: 100;
}
.subNav>li:hover a{
	color: #0c8ed9;
}
/*´¥Åö±ä»»±³¾°Í¼Æ¬Î»ÖÃ*/
.subNav>li:hover .menuimg{
	background-position: 0px -100px;
}
.subNav>li:hover .menuimg-1{
	background-position: 0px -135px;
}
.subNav>li:hover .menuimg-2{
	background-position: 0px -171px;
}
.subNav>li:hover .menuimg-3{
	background-position: 0px -245px;
}
.menuimg{
	width: 20px;
	height: 20px;
	background: url(../img/sprite.png) 0px -118px no-repeat;
}
.menuimg-1{
	width: 20px;
	height: 20px;
	background: url(../img/sprite.png) 0px -153px no-repeat;
}
.menuimg-2{
	width: 20px;
	height: 20px;
	background: url(../img/sprite.png) 0px -188px no-repeat;
}
.menuimg-3{
	width: 20px;
	height: 20px;
	background: url(../img/sprite.png) 0px -280px no-repeat;
}
.wrap{
	margin: auto;
	width: 1000px;
}
.mbx{
	color: #ada8a8;
    margin: 15px 0;
    font-size: 13px;
}
.mbx a{
	color: #3d3d3d;
}
.mbx span{
	color: #3d3d3d;
}
.l{
	float: left;
    width: 180px;
    position: relative;
}
.pic{
	width: 170px;
    height: 169px;
}
.detail{
	color: #323232;
    width: 160px;
    line-height: 23px;
    text-align: left;
    word-wrap: break-word;
}
.detail>p{
	font-size: 15px;
}
.intro{
	margin: 10px 0;
	outline:none;
	height: 300px;
}
.intro>p{
	font-size: 14px;	
	height: 300px;
	overflow: scroll;
}
.r{
	float: left;
    width: 780px;
    border-left: 1px solid #dcdcdc;
    padding: 10px 0 0 15px;
    min-height: 630px;
}
.songs{
	width: 764px;
}
.songs>P{
	font-size: 14px;
	font-weight: 600;
}
.dq{
	font-size: 14px;
	margin-left: 10px;
	border-bottom: 1px solid;
}
.dq>input{
	margin-top: 20px;
	width:12px;
	height:12px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.dl{
	margin-top: 20px;
	margin-left: 10px;
}
.dl a{
	font-size: 14px;
	font-weight: 600;
	color:#777;
}
.music1>a{
	margin-left:20px;
}
.music1:hover{
	background: #009BF5;
}
.tab{
	height: 10px;
}

.footWrapper{
	width: 100%;
	height: 319px;
	background: #2C323B;
}
.footer{
}
.link{
	height: 40px;
	font-size: 12px;
	width: 991px;
	margin: auto;
    color: #b1b3b9;
    padding-top: 20px;
    border-bottom: 1px solid #3d424a;
}
.link>a{
	color: #b1b3b9;
    padding-right: 10px;    
}
.link>a:hover{
	color: #009BF5;	
}
.copyright{
	width: 1000px;
    margin: 40px auto 0;
}
.copyright>p{
	line-height: 30px;
    text-align: center;
    color: #b1b3b9;
    font-size: 13px;
}
.copyright>p a{
	color: #999;
}
.copyright>p:nth-child(2){
	width: 1000px;
}
.footericon{
    height: 16px;
	background: url(http://www.kugou.com/common/images/footer_icon.png) no-repeat;
	background-position: right;
}
.office-v{
	margin-left: 5px;
    padding: 5px 10px;
    background: url(http://www.kugou.com/common/images/logo_down.png) no-repeat;
    background-size: 20px 20px;
}