body,dl,dd,p,h1,h2,h3,h4,h5,h6{margin:0;}
ol,ul,li{margin:0;padding:0;list-style:none;}
a{text-decoration: none;}
p{margin: 0,padding: 0;}
img{border:none;}
.clearfix:after{
    content:'';
    display:block;
    clear:both;
}
.f-l{
    float: left;
}
.f-r{
    float:right;
}
